# DISCORD_TOKEN: Required for Daki bot to run.
# Gets the actual token from developer portal.
DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
WELCOME_CHANNEL_ID=
ENABLE_MESSAGE_CONTENT_INTENT=true
ENABLE_GUILD_MEMBERS_INTENT=true
